body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(194, 191, 191, 0.288);
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    margin-right: 50px;
}

.desk-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    @media ( width < 576px ) {
        display: none;
    }
    @media ( width > 876px ) {
        gap: 150px;
    }
}

.desk-menu .desk-reservation {
    padding: 5px 20px;
    margin-top: 10px;
    background: rgb(209, 35, 35);
    border: none;
    border-radius: 20px;
    color: white;
}

.desk-links {
    display: flex;
    gap: 20px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media ( width > 576px ) {
        display: none;
    }
}
.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    right: 0;
    top: 54px;
    width: 100%;
    padding: 20px 0 20px 20px;
    background-color: rgb(253, 253, 253);
    border-bottom: solid 1px rgb(199, 199, 199);
    z-index: 4;
    @media ( width > 576px ) {
        display: none;
    }
}

.header-container a {
    color: black;
    text-decoration: none;
    @media ( width < 1024px ) {
        padding: 5px;
    }
    transition: 0.2s ease-in-out;
}
.active {
    color: rgb(1, 1, 183);
    border-bottom: solid 2px rgba(255, 0, 0, 0.941);
    font-weight: bolder;
    border-bottom-left-radius: 9px;
    transition: 0.2s ease-in-out;
}
.header-container .reservation {
    padding: 5px 20px;
    margin-top: 20px;
    background: rgb(209, 35, 35);
    border-radius: 2px;
    border: none;
    color: white;
}
.reservation:hover, .desk-reservation:hover {
    background: rgba(255, 0, 0, 0.829);
}

.menu-btn {
    z-index: 7;
    color: black;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    @media ( width > 1024px ) {
        display: none;
    }
}

.open-menu {
    transform: translateX(0);
    transition: 0.3s ease-in-out;
}

.close-menu {
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
}
