html {
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
}

:root {
  --text: #6b6375;
  --bg: #fff;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  letter-spacing: -1.08px;
  margin: 32px 0;
  line-height: 118%;
  @media (max-width: 1024px) {
    font-size: 33px;
  }
}
h2 {
  font-size: 30px;
  line-height: 118%;
  letter-spacing: -1.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 22px;
  }
}
h3 {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: 0.24px;
  @media (max-width: 1024px) {
    font-size: 15px;
  }
}
p {
  margin: 0;
  @media (max-width: 1024px) {
    font-size: 13px;
  }
  @media (max-width: 380px) {
    line-height: 1.24;
    font-size: 12px;
  }
}

*,
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
